@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-links {
        transition: all 0.2s ease-in;
        text-align: center;
        position: relative;
    }

    .nav-link-icon {
        position: absolute;
        top: 30px;
        opacity: 0;
        transition: opacity 0.2s ease-in;
    }

    .nav-links:hover {
        color: theme("colors.primary");
    }

    .nav-links:hover > .nav-link-icon {
        opacity: 1;
    }

    .hide {
        transform: rotate(180deg) scale(0);
    }

    .show {
        transform: rotate(180deg) scale(1);
    }

    .drawer-items {
        border-bottom: 1px solid #E5E7EB;
        padding: 16px 40px;
    }

    .contactos-footer {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

@layer base {
    body {
        @apply font-poppins;
    }

    .menu-icon {
        @apply text-white text-2xl absolute top-[6px] left-[6.5px] transition-all duration-200 ease-in-out;
    }

    .containers-footer {
        @apply w-full lg:w-[40%];
    }
}